# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# VSCode
.vscode/
*.code-workspace

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Logs
*.log

# Python tooling
.pytest_cache/
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Node
node_modules/
package-lock.json

# Build artifacts
dist/
build/

# MZinga local clone
# mzinga/
